Repository satish-a0/pasar, pull requests merged in 2024-11, with the labels that each got.

#19 Procedure Occurrence
  etl/pypasar/db/sql/postgres/procedure_occurrence/procedure_occurrence.md
  etl/pypasar/db/sql/postgres/procedure_occurrence/procedure_occurrence.sql
  etl/pypasar/db/sql/postgres/procedure_occurrence/stg__procedure_occurrence.sql
  etl/pypasar/omop/procedure_occurrence.py
Labels: sql

#27 [Final] Condition_Occurrence
  etl/pypasar/db/sql/postgres/ddl.sql
  etl/pypasar/omop/condition_occurrence.py
  etl/pypasar/omop/death.py
Labels: python

#8 Initial draft for observation mapping
  etl/.env.example
  etl/__main__.py
  etl/pypasar/db/sql/postgres/ddl.sql
  etl/pypasar/omop/observation.py
  etl/pypasar/omop/observation_utils/__init__.py
  etl/pypasar/omop/observation_utils/config.py
  etl/pypasar/omop/observation_utils/mappings.py
  etl/pypasar/omop/observation_utils/util.py
Labels: python

#35 🔀 [Second Draft] Merge: Visit Occurrence Table
  etl/pypasar/db/sql/postgres/visit_occurrence/int__visit_occurrence.sql
  etl/pypasar/db/sql/postgres/visit_occurrence/visit_occurrence.md
  etl/pypasar/db/sql/postgres/visit_occurrence/visit_occurrence.sql
Labels: sql

#32 🆕 Merge: [Update] Provider table
  etl/pypasar/db/sql/postgres/provider/provider.sql
  etl/pypasar/db/sql/postgres/provider/stg__provider.sql
  etl/pypasar/omop/provider.py
Labels: sql

#33 🆕 Merge: [Update] Visit detail table
  etl/pypasar/db/sql/postgres/visit_detail/int__visit_detail.sql
Labels: sql

#34 [FINAL] ETL script for Notes table
  etl/pypasar/omop/note.py
Labels: python

#36 🆕 Merge: Drug Era Table
  etl/pypasar/db/sql/postgres/drug_era/drug_era.sql
  etl/pypasar/omop/drug_era.py
Labels: sql

#37 🆕 Merge: Condition Era Table
  etl/pypasar/db/sql/postgres/condition_era/condition_era.sql
  etl/pypasar/omop/condition_era.py
Labels: sql

#21 [Final] Load source_to_concept_map Table
  etl/__main__.py
  etl/pypasar/db/sql/postgres/ddl.sql
  etl/pypasar/db/sql/postgres/source_to_concep_map/v1.csv
  etl/pypasar/db/sql/postgres/source_to_concep_map/v2.csv
  etl/pypasar/db/sql/postgres/source_to_concep_map/v3.csv
  etl/pypasar/db/sql/postgres/source_to_concep_map/v3b.csv
  etl/pypasar/db/sql/postgres/source_to_concep_map/v3c.csv
  etl/pypasar/omop/source_to_concept_map.py
  test.commit
Labels: documentation, python, sql
